#footer
  background: color-footer-background
  padding: 22px 10px
  border-top: 1px solid #cdcdcd
  color: #333
  opacity: 0
  width: 1000px
  transition: opacity 0.2s ease-in
  &.open
    opacity: 1
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height - 8
  font-size: 12px
  text-align: right
  padding-right: 18px
  .logo
    margin-bottom: 20px